include mixins/head.pug

html
    +head
    body
        header
            if logged
                div(class="twitter")
                    img(src="/images/twitter-image.jpg" alt="Twitter")
                    p Welcome #{user}
                div(class="user-locations")
                    span(class="glyphicon glyphicon-map-marker" area-hidden="true")
                    p My Destinations
            else
                a(href="/auth/twitter")
                    div(class="twitter")
                        img(src="/images/twitter-image.jpg" alt="Twitter")
                        p Sign in with Twitter
            div(class="title")
                h1 Nightlife Coordination
                h3 See where people are meeting and RSVP ahead of time.

        div(id="search")
        div(class="footer") Powered by Yelp

        script(src="https://unpkg.com/react@15/dist/react.js")
        script(src="https://unpkg.com/react-dom@15/dist/react-dom.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/js/search.js")
